<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Xin Xin — {{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />

    {{! Typekit }}
    <script type="text/javascript" src="//use.typekit.net/eez2ozc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {{! Google Analytics }}
    <script async="" src="//www.google-analytics.com/analytics.js"></script><script>
    (function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-21156824-4","xin-squared.com");ga("send","pageview")
    </script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
   <nav class="site-nav">
        <ul>
            <a href="/#projects"><li>Projects</li></a>&middot;<a href="/resume"><li>Resume</li></a>&middot;<a href="/about"><li>About</li></a>&middot;<a href="/tag/all"><li>Blog</li></a>
        </ul>
    </nav>

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer>
        <div class="inner">
            <p>Xin Xin makes things, asks questions, dreams big, eats very spicy Chinese food, and loves, loves, loves to learn.</p>
            
            <div class="contact-info">
                <a class="button phone" href="tel:1-848-219-1491"><span class="icon icon-call"></span>&nbsp;<span class="detail">8482191491</span>&nbsp;</a>
                <a class="button mail" href="mailto:xin@xin-squared.com"><span class="icon icon-email"></span>&nbsp;<span class="detail">Email</span>&nbsp;</a>
                <a class="button twitter" href="https://twitter.com/xinsq/"><span class="icon icon-twitter"></span>&nbsp;<span class="detail">@xinsq</span>&nbsp;</a>
                <a class="button linkedin" href="http://www.linkedin.com/in/xinsq/"><span class="icon icon-linkedin"></span>&nbsp;<span class="detail">LinkedIn</span>&nbsp;</a>
            </div>

            <nav class="footer-nav">
                <ul>
                    <a href="/"><li>Projects</li></a>&middot;<a href="/resume"><li>Resume</li></a>&middot;<a href="/about"><li>About</li></a>&middot;<a href="/tag/all"><li>Blog</li></a>
                </ul>
            </nav>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{! ghost_foot}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>


</body>
</html>
