{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
{{#post}}

<header class="vertical-align-parent full-page">
    <div class="inner vertical-align">
       <h1>{{title}}</h1>
    </div>
</header>


<main class="content white-background" role="main">
<div class="inner">

    <article class="{{post_class}}">

        <section class="post-content">
            {{content}}
        </section>

        <section class="share">
            <h4>Share this post</h4>
            <a class="icon-twitter button" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">@Xinsq</span>
            </a>
            <a class="icon-facebook button" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="hidden">Facebook</span>
            </a>
            <a class="icon-google-plus button" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="hidden">Google+</span>
            </a>
        </section>

    </article>

</div>
</main>
{{/post}}
